/* global styles */
:root {
    --primary-font: Work Sans;
    --primary-color: #131313;
    --paragraph-color: #727272;
    --nav-color: #424242;
    --bg-primary: #fff4e7;
}

* {
    padding: 0;
    margin: 0;
    font-family: var(--primary-font);
    /* border: 1px solid red; */
}

/* common styles */
.header-container {
    background-color: var(--bg-primary);
    padding-bottom: 45px;
    margin-bottom: 85px;
    width: 100%;
}

.btn-primary {
    padding: 21px 24px 20px 25px;
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    margin-top: 33px;
    margin-bottom: 50px;
    border: none;
}

.btn-primary:hover {
    cursor: pointer;
}

/* header styles */
.header {
    display: flex;
    justify-content: space-between;
    max-width: 87.5%;
    margin: 0 auto;
    align-items: center;
    padding-top: 50px;
}

/* heading styles */
.header-title {
    font-weight: 700;
    font-size: 45px;
    font-family: var(--primary-font);
}

/* nav styles */
.nav ul {
    display: flex;
    list-style: none;
    font-weight: 500;
    font-size: 18px;


}

.nav li {
    padding-top: 13px;
    padding-right: 60px;
}

.nav li:last-child {
    padding-right: 0;
}

.nav a {
    text-decoration: none;
    color: var(--nav-color);
}



/* banner section */

.banner-section {
    margin-top: 102px;
}

.banner-info {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.section-title {
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    color: var(--primary-color);
}

.section-description {
    font-weight: 400;
    font-size: 16px;
    color: var(--paragraph-color);
    margin-top: 30px;
    padding: 0;

}


/* banner image */
.banner-img {
    width: 87.5%;
    margin: 0 auto;

}

.banner-img img {
    width: 100%;
}




/* ===============
feature section
================== */
.features {

    display: flex;
    width: 80%;
    align-items: center;
    margin: 0 auto;
    gap: 50px;

}

.features-images {
    max-width: 55%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}


.feature-img {
    width: 100%;
}

.feature-info {
    width: 45%;
}

.feature-title {
    font-weight: 700;
    font-size: 45px;
}


/* article section  */
.articles-section {
    display: flex;
    margin: 0 auto;
    gap: 54px;
    margin-top: 130px;
    width: 87.5%;
}

.article-container {
    margin-top: 39px;
}

.article-title {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 24px;
    border-left: 5px solid #FF900E;
    padding-left: 30px;
}

.article-heading-description,
.article-description {
    font-weight: 400;
    font-size: 16px;
    color: var(--paragraph-color);

}

.article-heading-description {
    margin-bottom: 30px;
}

.article {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 30px 42px 30px 30px;
    margin-bottom: 20px;

}

.article-sub-title {
    margin-bottom: 10px;
}

.article-container,
.article-img-container {
    width: 50%;
    height: 100%;
}

.article-img-container {
    height: 100%;
    height: 90%;
    position: relative;
}

.article-img-container img {
    width: 100%;
    height: 90%;
}

.article-img-container .btn-primary {
    position: relative;
    top: -80px;
    right: 35px;


}

.num-btn-text {
    font-weight: 700;
    font-size: 65px;
}

.text-btn {
    font-weight: 500;
    font-size: 25px;
}

/* facts section */
.facts-section {
    width: 87.5%;
    margin: 0 auto;
    margin-top: 130px;

}

.facts-title {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 24px;
}

.facts-description {
    color: var(--paragraph-color);
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 90px;
}

.facts-container {
    max-width: 87.5%;
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.fact {
    border: 1px solid #FF900E;
    border-radius: 8px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    /* this animation will move the fact card to top few pexels */
    animation: moveUp 1s ease 1s forwards;
}



.fact-img {
    margin: 45px 85px 10px 85px;
}

.fact-title {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 45px;
    color: var(--nav-color);
}

.fact-subtitle {
    color: var(--paragraph-color);
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 55px;
}

/* effects on facts */
.fact:hover {
    background-color: #FF900E;
    border: 2px solid #FFFFFF;
    animation: moveUp;

}

.fact:hover .fact-title {
    color: #FFFFFF;
}

.fact:hover .fact-subtitle {
    color: #FFFFFF;
}

.fact,
.fact-title,
.fact-subtitle,
.fact-img {
    transition: all .3s ease;
}

@keyframes moveUp {
    from {
        top: 0;
    }

    to {
        top: -40px
    }
}


/* sponsor section */
.sponsors-section {
    margin: 0 auto;
    margin-top: 130px;
    max-width: 87.5%;
    text-align: center;
    margin-bottom: 130px;
}

.sponsors-title {
    font-weight: 700;
    font-size: 45px;
    color: var(--primary-color);
    margin-bottom: 24px;
}

.sponsors-description {
    font-weight: 400;
    font-size: 16px;
    color: var(--paragraph-color);
    margin-bottom: 50px;
}

.sponsor-img-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.sponsor-img {
    filter: grayscale(90%);
    width: 100%;
}

/* ==============================
            bonus section styles
================================== */
/* blogs */
.blog-section-title {
    font-weight: 700;
    font-size: 45px;
    font-family: var(--primary-font);
    text-align: center;
    margin-bottom: 20px;

}

.blog-section-description {
    font-weight: 400;
    font-size: 16px;
    color: var(--paragraph-color);
    text-align: center;
    margin-bottom: 40px;
}

.blogs {
    width: 87.5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 0 auto;
}

.blog {
    display: flex;
    gap: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 30px 42px 30px 30px;
    margin-bottom: 20px;

}

.blog-img {
    width: 50%;
}

.blog-info {
    width: 50%;
}

.blog-img img {
    width: 100%;
    height: 33vh;
}

.blog-title {
    margin-bottom: 20px;
    color: var(--primary-color);
}

.blog-sub-title {
    color: var(--nav-color);
    margin-top: 65px;
    margin-bottom: 10px;
}

.blog-sub-title span {
    color: #727272;
}

.blog-sub-title a {
    text-decoration: none;
    color: var(--primary-color);
}

.blog-description {
    color: var(--paragraph-color);
    padding-left: 20px;
}

/* footer section */

footer {
    margin: 0 auto;
    background-color: var(--bg-primary);
    color: var(--primary-color);
    text-align: center;
    margin-top: 130px;
    padding-top: 50px;
    padding-bottom: 30px;
    margin-bottom: 50px;
    width: 87.5%;
}

.section-title {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 16px;
}

.section-sub-title {
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 30px;
}

footer .section-description {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 24px;
}

.contact-info {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 16px;

}

.social-links {
    margin: 0 auto;
    margin-top: 32px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-links a {
    text-decoration: none;
}

.social-links img {
    max-width: 40px;
}

.copyright {
    margin-top: 20px;
}

/* =======================================================
==========================================================
                    Mid Size Devices 
        from min-width of 669px to max-width of 992px  
===========================================================
===========================================================*/

/* header area */
@media only screen and (max-width: 992px) and (min-width: 669px) {
    .header {
        margin: 0;
    }

    .nav ul {
        flex-wrap: wrap;
    }

    .banner-img {
        max-width: 80%;
        margin: 0 auto;

    }

    .features {
        flex-direction: column-reverse;
        width: 90%;
        align-items: center;
        margin: 0 auto;
        gap: 15px;

    }

    .features-images {
        max-width: 80%;
    }

    .feature-info {
        width: 80%;
    }

    .articles-section {
        flex-direction: column;
    }

    .article-container {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
    }

    .article-header {
        grid-column: span 2;
    }

    .article-img-container {
        display: flex;
        align-items: center;
    }

    .article-img-container .btn-primary {
        width: 100%;
        height: 50%;
        position: relative;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);

    }

    .num-btn-text {
        font-weight: 700;
        font-size: 30px;
    }

    .text-btn {
        font-weight: 500;
        font-size: 20px;
    }

    .facts-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .sponsor-img-container {
        display: grid;
        width: 80%;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .blogs {
        grid-template-columns: 1fr;
    }

    .blog-img,
    .blog-info {
        width: 90%;
        height: fit-content;

    }

    .blog-img img {
        width: 100%;
        height: 60%;
    }

    footer {
        margin-top: 60px;
    }
}

/* =======================================================
==========================================================
                    Mobile Devices
        from Max-width of 668px 
===========================================================
===========================================================*/
@media only screen and (max-width:668px) {
    .header {
        flex-direction: column;
        max-width: 100%;

    }

    .header-title {
        margin-bottom: 35px;
    }

    .nav ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .nav li {
        padding-top: 10px;
        padding-right: 0px;
    }


    .banner-section {
        margin-top: 70px;
    }

    .features {
        flex-direction: column-reverse;
        max-width: 100%;
        gap: 20px;

    }

    .feature-info {
        width: 80%;
    }

    .features-images {
        grid-template-columns: 1fr;
        max-width: 85%;
    }

    .articles-section {
        flex-direction: column;
    }

    .article-container,
    .article-img-container {
        width: 90%;
        margin: 0 auto;
    }

    .article-img-container .btn-primary {
        position: relative;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

    }

    .num-btn-text {
        font-weight: 700;
        font-size: 30px;
    }

    .text-btn {
        font-weight: 500;
        font-size: 20px;
    }

    .facts-container {
        flex-direction: column;
    }

    .sponsor-img-container {
        flex-direction: column;
        gap: 25px;
    }


    .blogs {
        grid-template-columns: 1fr;
    }

    .blog {
        flex-direction: column;
        padding: 0;
        justify-content: center;
        align-items: center;
    }

    .blog-img,
    .blog-info {
        width: 90%;

    }

    .blog-img img {
        width: 100%;
        height: 80vh;
    }

    .blog-sub-title {
        margin-top: 5px;
    }

    .blog-description {
        padding-bottom: 20px;
    }

    footer {
        margin-top: 30px;
    }
}